<h1>Users#new</h1>


<form action="<%= users_url %>" method="post" enctype="multipart/form-data">

  <input type="hidden" name="authenticity_token"
                      value="<%= form_authenticity_token %>">

  <input type="text" placeholder="Enter name here"
         name="user[name]" value="<%= @user.name %>">

  <input type="text" placeholder="Enter email here"
         name="user[email]" value="<%= @user.email %>">

  <input type="file" name="user[avatar]">

  <input type="submit" value="Submit">
</form>
